$bg-1: #282535;
$bg-2: #4F4557;


 
.scroll-line{
    background: $bg-2;
    //top: 0;
    display: block;
    left: 0;
    height: 6px;
    margin-top: 4rem;
    position: fixed;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dark-bg{
    background-color: var(--fallback-n,oklch(var(--n)/var(--tw-bg-opacity)));
}

.bg-mask-polka{
    background-color: $bg-1;
    opacity: 0.8;
    background-image:  radial-gradient($bg-2 1.3px, transparent 1.3px), radial-gradient($bg-2 1.3px, $bg-1 1.3px);
    background-size: 52px 52px;
    background-position: 0 0,26px 26px;
}