<!DOCTYPE html>
<html lang="en" class="bg-mask-polka">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <title>Shrey Bhatt - UwU</title>
    
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/saasmain.css" />

  </head>
  <body>

    <!-- Navbar -->
    <div
      class="navbar z-10 backdrop-blur-sm bg-opacity-80 shadow-lg fixed top-0 bg-mc-1 text-gray-300"
    >
      <!-- Title Text-->
      <div class="flex-1">
        <a href="/" class="btn btn-ghost hover:bg-mc-2 text-2xl">Shrey Bhatt</a>
      </div>

      <!-- Regular Navbar-->
      <div class="navbar-center hidden sm:flex">
        <ul class="menu menu-horizontal text-xl">
          <li class="hover:bg-mc-2 rounded"><a href="/">Home</a></li>
          <li class="hover:bg-mc-2 rounded"><a href="/about">About</a></li>
          <li class="hover:bg-mc-2 rounded">
            <a href="/projects">Projects & Repos</a>
          </li>
          <li class="hover:bg-mc-2 rounded">
            <a target="_blank" href="https://github.com/KaosElegent"
              >Source Code</a
            >
          </li>
          <!--li class="hover:bg-mc-2 rounded">
              <details>
                <summary>
                  Projects
                </summary>
                <ul class="p-2 bg-mc-2 rounded-t-none">
                  <li class="hover:bg-mc-3 rounded"><a>Project 1</a></li>
                  <li class="hover:bg-mc-3 rounded"><a>Project 2</a></li>
                </ul>
              </details>
            </li-->
        </ul>
      </div>

      <!-- Dropdown Navbar-->
      <div class="dropdown pt-3">
        <label tabindex="0" class="btn btn-ghost sm:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            />
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content min-w-max right-0 mt-3 z-[1] p-2 shadow bg-mc-2 backdrop-blur-sm bg-opacity-20 rounded-box w-52"
        >
        <li class="rounded-box mb-2 mt-2 min-w-full">
          <a class="text-xl flex justify-center p-2" href="/">Home</a>
        </li>
          <li class="rounded-box mb-2 mt-2 min-w-full">
            <a class="text-xl flex justify-center p-2" href="/about">About</a>
          </li>
          <li class="rounded-box mb-2 min-w-full">
            <a class="text-xl flex justify-center p-2" href="/projects"
              >Projects & Repos</a
            >
          </li>
          <li class="rounded-box mb-2 mt-2 min-w-full">
            <a class="text-xl flex justify-center p-2" target="_blank" href="https://github.com/KaosElegent">Source Code</a>
          </li>
          <!--li class="hover:bg-mc-2 rounded">
                <details>
                  <summary>
                    Projects
                  </summary>
                  <ul class="p-2 hover:bg-mc-2 rounded">
                    <li class="hover:bg-mc-3 rounded"><a>Project 1</a></li>
                    <li class="hover:bg-mc-3 rounded"><a>Project 2</a></li>
                  </ul>
                </details>
              </li-->
        </ul>
      </div>

      <div class="scroll-line"></div>
    </div>

    <div class="mt-16 px-6 py-12 text-center md:px-12 lg:text-left">
        <div class="w-100 mx-auto sm:max-w-2xl md:max-w-2xl lg:max-w-5xl xl:max-w-7xl xl:px-auto">
          <div class="grid items-center lg:grid-cols-2">
            <div class="mb-12 md:mt-12 lg:mt-0 lg:mb-0">
              <div
                class="block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:px-12 lg:-mr-14 backdrop-blur-[30px]">
                <h1 class="mt-2 mb-6 md:mb-12 text-4xl font-bold tracking-tight md:text-5xl xl:text-5xl">
                  2nd Year Student @ <br /><span class="text-primary">Seneca</span>
                </h1>

                <p class="mt-2 mb-6 md:mb-8 text-l font-bold tracking-tight md:text-xl xl:text-2xl">
                  Outside of tech, I love going for long runs, watching animes/kdramas, playing games (witcher 3, mc, valo, satisfactory, anything u can think of) and occasional gardening.
                </p>
                <p class="mt-2 mb-6 md:mb-8 text-l font-bold tracking-tight md:text-xl xl:text-2xl">
                  I started my journey in middle school by creating games using the Unity game engine, which later turned into a fascination for penetration testing and working with Linux systems.
                  I ended up making my first android and windows backdoor in 11th grade, along with a phisihing website. My love for linux didn't end there though, since that year I also
                  made my first server at home, hosting the classic covid MC server as well as a file storage server that I could access from my phone.
                </p>
                <p class="mt-2 mb-6 md:mb-8 text-l font-bold tracking-tight md:text-xl xl:text-2xl">
                  As of right now, I'm the Head of Operations for Seneca Software Developer's Club, Z Systems Ambassador at IBM, Peer mentor at Seneca,
                  Instructor at Exceed Robotics and a Supply Teacher at STEM Academy of Canada. While this might seem like a lot, it's not much when you consider
                 just how much I love tech and programming.
                </p>
                
                <p class="mt-2 text-lg font-bold tracking-tight xl:text-xl">
                  Completely really, definitely not a fake rating <u>(234 reviews): </u>
                  <div class="rating">
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                  </div>
                </p>
                

                <!--a class="mb-2 inline-block rounded bg-primary px-12 pt-4 pb-3.5 text-sm font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] md:mr-2 md:mb-0"
                  data-te-ripple-init data-te-ripple-color="light" href="#!" role="button">Get started</a>
                <a class="inline-block rounded px-12 pt-4 pb-3.5 text-sm font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:bg-neutral-500 hover:bg-opacity-10 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700 dark:hover:bg-opacity-40"
                  data-te-ripple-init data-te-ripple-color="light" href="#!" role="button">Learn more</a-->
              </div>
            </div>
            <div class="hidden lg:flex md:mb-12 lg:mb-0">
              <img src="/assets/pfp.jpg"
                class="w-full rounded-lg shadow-lg dark:shadow-black/20" alt="" />
            </div>
          </div>
        </div>
      </div>

    <script src="/js/typewrite.js"></script>

  </body>
  </html>
