<!DOCTYPE html>
<html lang="en" class="bg-mask-polka dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Shrey Bhatt - Portfolio</title>

    <link rel="stylesheet" href="/css/main.css" />
    
  </head>
  <body>
    <!-- Navbar -->
    <div
      class="navbar z-10 backdrop-blur-sm bg-opacity-80 shadow-lg fixed top-0 bg-mc-1 text-gray-300"
    >
      <!-- Title Text-->
      <div class="flex-1">
        <a href="/" class="btn btn-ghost hover:bg-mc-2 text-2xl">Shrey Bhatt</a>
      </div>

      <!-- Regular Navbar-->
      <div class="navbar-center hidden md:flex">
        <ul class="menu menu-horizontal text-xl">
          <li class="hover:bg-mc-2 rounded"><a href="/">Home</a></li>
          <li class="hover:bg-mc-2 rounded"><a href="/about">About</a></li>
          <li class="hover:bg-mc-2 rounded">
            <a href="/projects">Projects & Repos</a>
          </li>
          <!--li class="hover:bg-mc-2 rounded">
            <a target="_blank" href="https://github.com/KaosElegent"
              >Source Code</a
            >
          </li-->
        </ul>
      </div>

      <!-- Dropdown Navbar-->
      <div class="dropdown pt-3">
        <label tabindex="0" class="btn btn-ghost md:hidden ">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            />
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content min-w-max right-0 mt-3 z-[1] p-2 shadow bg-mc-2 backdrop-blur-sm bg-opacity-20 rounded-box w-52"
        >
          <li class="rounded-box mb-2 mt-2 min-w-full">
            <a class="text-xl flex justify-center p-2" href="/">Home</a>
          </li>
          <li class="rounded-box mb-2 mt-2 min-w-full">
            <a class="text-xl flex justify-center p-2" href="/about">About</a>
          </li>
          <li class="rounded-box mb-2 min-w-full">
            <a class="text-xl flex justify-center p-2" href="/projects"
              >Projects & Repos</a
            >
          </li>
          <!--li class="rounded-box mb-2 mt-2 min-w-full">
            <a
              class="text-xl flex justify-center p-2"
              target="_blank"
              href="https://github.com/KaosElegent"
              >Source Code</a
            >
          </li-->
        </ul>
      </div>

      <div class="scroll-line"></div>
    </div>

    <!-- Hero -->
    <div class="hero pt-16 text-mc-text" style="min-height: 72vh">
      <div class="hero-content text-center">
        <div class="max-w-md lg:max-w-4xl">
          <!-- Hero for smaller devices -->
          <h1 class="block lg:hidden text-5xl font-bold">Hey There! \n</h1>
          <h1 class="block lg:hidden text-5xl font-bold">
            My Name is
            <u
              class="text-primary tooltip tooltip-success"
              data-tip="Ask him out, he's the best bf. (trust me bro)"
              >Shrey Bhatt</u
            >
          </h1>

          <!-- Hero for large devices -->
          <h1 class="hidden lg:block text-5xl font-bold">
            Hey There! \n My Name is
            <u
            class="text-primary tooltip tooltip-success"
            data-tip="Ask him out, he's the best bf. (trust me bro)"
              >Shrey Bhatt</u
            >
          </h1>

          <p class="text-3xl relative z-20 font-bold py-6">
            <a
              class="typewrite text-primary"
              data-period="2000"
              data-type='[ "A Software Developer", "An IBM Ambassador", 
                            "A STEM Instructor", "A Peer Mentor",
                            "A Cybersecurity Advocate", "A Volunteer" ]'
            >
              <span class="wrap"></span>
            </a>
          </p>
        </div>
      </div>
    </div>

    <!-- Socials -->
    <div class="flex m-6 mb-14 justify-center sm:mt-0">
      <a target="_blank" href="https://github.com/KaosElegent" class="text-gray-500 hover:text-white ms-5 mr-12">
          <svg class="w-10 h-10" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
          </svg>
          <span class="sr-only">GitHub account</span>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/shreybhatt13/" class="text-gray-500 hover:text-white ms-5 ml-12 mr-12">
        <svg class="w-10 h-10" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M12.5 8.8v1.7a3.7 3.7 0 0 1 3.3-1.7c3.5 0 4.2 2.2 4.2 5v5.7h-3.2v-5c0-1.3-.2-2.8-2.1-2.8-1.9 0-2.2 1.3-2.2 2.6v5.2H9.3V8.8h3.2ZM7.2 6.1a1.6 1.6 0 0 1-2 1.6 1.6 1.6 0 0 1-1-2.2A1.6 1.6 0 0 1 6.6 5c.3.3.5.7.5 1.1Z" clip-rule="evenodd"/>
          <path d="M7.2 8.8H4v10.7h3.2V8.8Z"/>
        </svg>                    
        <span class="sr-only">LinkedIn account</span>
    </a>
    
    <a target="_blank" href="/assets/Resume.pdf" class="text-gray-500 hover:text-white ms-5 ml-12">
      <svg class="w-10 h-10" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M8 7V2.2a2 2 0 0 0-.5.4l-4 3.9a2 2 0 0 0-.3.5H8Zm2 0V2h7a2 2 0 0 1 2 2v.1a5 5 0 0 0-4.7 1.4l-6.7 6.6a3 3 0 0 0-.8 1.6l-.7 3.7a3 3 0 0 0 3.5 3.5l3.7-.7a3 3 0 0 0 1.5-.9l4.2-4.2V20a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Z" clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M17.4 8a1 1 0 0 1 1.2.3 1 1 0 0 1 0 1.6l-.3.3-1.6-1.5.4-.4.3-.2Zm-2.1 2.1-4.6 4.7-.4 1.9 1.9-.4 4.6-4.7-1.5-1.5ZM17.9 6a3 3 0 0 0-2.2 1L9 13.5a1 1 0 0 0-.2.5L8 17.8a1 1 0 0 0 1.2 1.1l3.7-.7c.2 0 .4-.1.5-.3l6.6-6.6A3 3 0 0 0 18 6Z" clip-rule="evenodd"/>
      </svg>                    
      <span class="sr-only">LinkedIn account</span>
  </a>
  </div>

    <!-- Skills -->
    <div class="lg:block hidden max-w-min mx-auto justify-center mb-24">
      <div class="mockup-code">
        <pre data-prefix="$"><code>npm i shrey/skills</code></pre>
        <pre
          data-prefix=">"
          class="text-warning"
        ><code>installing...</code></pre>
        <pre data-prefix=">" class="text-success"><code>Done!</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>-------------------</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>Languages: C, C++, Python, MySQL, JavaScript, TypeScript, HTML, CSS, Bash, COBOL.</code></pre>
        <pre data-prefix=">" class="text-info"><code></code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>Frameworks / Libraries: Bootstrap, Node.js NumPy, Pandas, Matplotlib, Express, MongoDB, OpenCV.</code></pre>
        <pre data-prefix=">" class="text-info"><code></code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>Developer Tools: Git, Linux, Jira, Zowe Editor, Unity, Visual Paradigm, VMware, Fusion 360.</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>-------------------</code></pre>
      </div>
    </div>
    <div
      class="hidden md:block lg:hidden max-w-min mx-auto justify-center mb-24"
    >
      <div class="mockup-code">
        <pre data-prefix="$"><code>npm i shrey/skills</code></pre>
        <pre
          data-prefix=">"
          class="text-warning"
        ><code>installing...</code></pre>
        <pre data-prefix=">" class="text-success"><code>Done!</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>-------------------</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>Languages: C, C++, Python, MySQL, JavaScript, TypeScript, HTML, CSS</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>            Bash, COBOL.</code></pre>
        <pre data-prefix=">" class="text-info"><code></code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>Frameworks / Libraries: Bootstrap, Node.js NumPy, Pandas, Matplotlib</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>                         Express, MongoDB, OpenCV.</code></pre>
        <pre data-prefix=">" class="text-info"><code></code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>Developer Tools: Git, Linux, Jira, Zowe Editor, Unity, Visual Paradigm</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>                  VMware, Fusion 360.</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>-------------------</code></pre>
      </div>
    </div>
    <div
      class="hidden min-[680px]:block md:hidden max-w-min mx-auto justify-center mb-24"
    >
      <div class="mockup-code">
        <pre data-prefix="$"><code>npm i shrey/skills</code></pre>
        <pre
          data-prefix=">"
          class="text-warning"
        ><code>installing...</code></pre>
        <pre data-prefix=">" class="text-success"><code>Done!</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>-------------------</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>Languages: C, C++, Python, MySQL, JavaScript, TypeScript, HTML</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>            CSS, Bash, COBOL.</code></pre>
        <pre data-prefix=">" class="text-info"><code></code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>Frameworks / Libraries: Bootstrap, Node.js NumPy, Pandas</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>                         Matplotlib, Express, MongoDB, OpenCV.</code></pre>
        <pre data-prefix=">" class="text-info"><code></code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>Developer Tools: Git, Linux, Jira, Zowe Editor, Unity</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>                  Visual Paradigm, VMware, Fusion 360.</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>-------------------</code></pre>
      </div>
    </div>
    <div
      class="block min-[680px]:hidden max-w-min mx-auto justify-center mb-24"
    >
      <div class="mockup-code">
        <pre data-prefix="$"><code>npm i shrey/skills</code></pre>
        <pre
          data-prefix=">"
          class="text-warning"
        ><code>installing...</code></pre>
        <pre data-prefix=">" class="text-success"><code>Done!</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>-------------------</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>Languages: C, C++, Python, MySQL</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>          JavaScript, TypeScript</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>          HTML, CSS, Bash, COBOL.</code></pre>
        <pre data-prefix=">" class="text-info"><code></code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>Frameworks / Libraries: Bootstrap</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>          Node.js NumPy, Pandas</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>          Matplotlib, Express</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>          MongoDB, OpenCV.</code></pre>
        <pre data-prefix=">" class="text-info"><code></code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>Developer Tools: Git, Linux, Jira</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>          Zowe Editor, Unity</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>          Visual Paradigm</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>          VMware, Fusion 360.</code></pre>
        <pre
          data-prefix=">"
          class="text-info"
        ><code>-------------------</code></pre>
      </div>
    </div>

    <!-- Stats-->
    <div
      class="hidden max-w-min hover:scale-105 transition-all duration-500 min-[820px]:flex mx-auto mb-24 justify-center"
    >
      <div class="stats shadow hover:gap-1 transition-all duration-500">
        <div class="stat">
          <div class="stat-figure text-primary ">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-8 h-8 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
              ></path>
            </svg>
          </div>
          <div class="stat-title">Events Attended (6 months)</div>
          <div class="stat-value text-primary">5</div>
          <div class="stat-desc text-mc-text-d">999 Remaining</div>
        </div>

        <div class="stat">
          <div class="stat-figure text-secondary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-8 h-8 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 10V3L4 14h7v7l9-11h-7z"
              ></path>
            </svg>
          </div>
          <div class="stat-title">CGPA @ Seneca</div>
          <div class="stat-value text-secondary">4.0</div>
          <div class="stat-desc text-mc-text-d">President&apos;s Honour List Recipient</div>
        </div>

        <div class="stat">
          <div class="stat-figure text-secondary">
            <div class="avatar online">
              <div class="w-16 rounded-full">
                <img src="/assets/pfp2.jpg" />
              </div>
            </div>
          </div>
          <div class="stat-title">Projects</div>
          <div class="stat-value text-[#8D95A5]">8</div>
          <div class="stat-desc text-secondary">1 Active</div>
        </div>
      </div>
    </div>

    <div
      class="hidden max-w-min bigger-phone:flex min-[820px]:hidden mx-auto mb-0.5 justify-center"
    >
      <div class="stats shadow">
        <div class="stat">
          <div class="stat-figure text-secondary">
            <div class="avatar online">
              <div class="w-16 rounded-full">
                <img src="/assets/pfp2.jpg" />
              </div>
            </div>
          </div>
          <div class="stat-title">Projects</div>
          <div class="stat-value text-[#8D95A5]">8</div>
          <div class="stat-desc text-secondary">1 Active</div>
        </div>
      </div>
    </div>
    <div
      class="hidden max-w-min bigger-phone:flex min-[820px]:hidden mx-auto mb-24 justify-center"
    >
      <div class="stats shadow">
        <div class="stat">
          <div class="stat-figure text-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-8 h-8 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
              ></path>
            </svg>
          </div>
          <div class="stat-title">Events Attended (6 months)</div>
          <div class="stat-value text-primary">5</div>
          <div class="stat-desc text-mc-text-d">999 Remaining</div>
        </div>

        <div class="stat">
          <div class="stat-figure text-secondary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-8 h-8 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 10V3L4 14h7v7l9-11h-7z"
              ></path>
            </svg>
          </div>
          <div class="stat-title">CGPA @ Seneca</div>
          <div class="stat-value text-secondary">4.0</div>
          <div class="stat-desc text-mc-text-d">President&apos;s Honour List Recipient</div>
        </div>
      </div>
    </div>

    <div class="flex max-w-min bigger-phone:hidden mx-auto mb-4 justify-center">
      <div class="stats shadow">
        <div class="stat w-80">
          <div class="stat-figure text-secondary">
            <div class="avatar online">
              <div class="w-16 rounded-full">
                <img src="/assets/pfp2.jpg" />
              </div>
            </div>
          </div>
          <div class="stat-title">Projects</div>
          <div class="stat-value text-[#8D95A5]">8</div>
          <div class="stat-desc text-secondary">1 Active</div>
        </div>
      </div>
    </div>
    <div class="flex max-w-min bigger-phone:hidden mx-auto mb-4 justify-center">
      <div class="stats shadow">
        <div class="stat w-80">
          <div class="stat-figure text-secondary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-8 h-8 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 10V3L4 14h7v7l9-11h-7z"
              ></path>
            </svg>
          </div>
          <div class="stat-title">CGPA @ Seneca</div>
          <div class="stat-value text-secondary">4.0</div>
          <div class="stat-desc text-mc-text-d">President&apos;s Honour List Recipient</div>
        </div>
      </div>
    </div>
    <div class="flex max-w-min bigger-phone:hidden mx-auto mb-24 justify-center">
      <div class="stats shadow">
        <div class="stat w-80">
          <div class="stat-figure text-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-8 h-8 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
              ></path>
            </svg>
          </div>
          <div class="stat-title">Events Attended (6 months)</div>
          <div class="stat-value text-primary">5</div>
          <div class="stat-desc text-mc-text-d">999 Remaining</div>
        </div>
      </div>
    </div>

    <!-- Timeline -->
    <ul
      class="max-w-5xl text-mc-text relative mx-auto timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
    >
      <li>
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div
          class="timeline-start md:text-end mb-10 md:ml-10 md:hover:ml-4 md:hover:mr-6 md:hover:scale-105 md:transition-all md:duration-500"
        >
          <time class="font-mono italic">Feb 16-18, 2024</time>
          <div class="text-lg font-black">Hacker @ DeerHacks, UTM</div>
          Learning Reimagined with VoiceRE! What's the best way to learn something? 
          We concluded that explaining a concept in a digestible form reveals gaps 
          in your knowledge and understanding. Our web app lets you seamlessly record 
          and store short clips and revisit them using prompt-engineered questions.
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div
          class="timeline-end mb-10 md:mr-10 md:hover:mr-4 md:hover:ml-6 md:hover:scale-105 md:transition-all md:duration-500"
        >
          <time class="font-mono italic">Jan 26-28, 2024</time>
          <div class="text-lg font-black">
            Volunteer @ UofTHacks, Myhal Hall
          </div>
          I got a first-hand look at Cohere and Auth0 APIs being utilized in
          dozens of different ways and was able to talk to a lot of the mentors
          and sponsors. This event helped me gain a new perspective, not just on
          technology but also on event organization and planning.
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div
          class="timeline-start md:text-end mb-10 md:ml-10 md:hover:ml-4 md:hover:mr-6 md:hover:scale-105 md:transition-all md:duration-500"
        >
          <time class="font-mono italic">Jan 13-14, 2024</time>
          <div class="text-lg font-black">
            Participant @ UofTCTF, Bahen Center
          </div>
          The UofT CTF was a 2-day event where I worked with my team
          virtually. It was my first in-person CTF and we placed 200th out of the 1225 teams
          participating. I gained a lot of info about OSINT, reverse engineering, Web exploits, etc.
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div
          class="timeline-end mb-10 md:mr-10 md:hover:mr-4 md:hover:ml-6 md:hover:scale-105 md:transition-all md:duration-500"
        >
          <time class="font-mono italic">November, 2023</time>
          <div class="text-lg font-black">IBM Z Student Ambassador</div>
          I was interviewed and selected as an IBM Ambassador, which has since
          then given me access to several IBM events, exclusive content and
          their Interskill Learning Platform. I'm currently halfway through my
          training, to becoming a Certified IBM Mainframe Application Programmer
          Level I.
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div
          class="timeline-start md:text-end mb-10 md:ml-10 md:hover:ml-4 md:hover:mr-6 md:hover:scale-105 md:transition-all md:duration-500"
        >
          <time class="font-mono italic">October 27th, 2023</time>
          <div class="text-lg font-black">
            Head of Operations @ Seneca Software Developer's Club
          </div>
          Reached out to the existing exec team at SSDC and asked to join/revive
          the club. Since then I've Led the operation of 8+ weekly study
          sessions, 3+ exam reviews, and 2 major club projects (Discord bot, AWS
          DynamoDB), started multiple minor club projects and rebuilt the entire
          marketing and content teams. Our server currently has 200+ members;
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div
          class="timeline-end mb-10 md:mr-10 md:hover:mr-4 md:hover:ml-6 md:hover:scale-105 md:transition-all md:duration-500"
        >
          <time class="font-mono italic">October 21st, 2023</time>
          <div class="text-lg font-black">
            Volunteer @ Google DevFest, UofT St. George
          </div>
          My first time volunteering at a Google DevFest and it was an amazing experience.
          I had a great time working with GDG Cloud Toronto organizers, helping
          lead the volunteer team and registration at St. George. I was able to help with 
          last-minute preparations on the day before, and learnt quite a lot about how 
          event organization works.
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div
          class="timeline-start md:text-end mb-10 md:ml-10 md:hover:ml-4 md:hover:mr-6 md:hover:scale-105 md:transition-all md:duration-500"
        >
          <time class="font-mono italic">September, 2023</time>
          <div class="text-lg font-black">
            Supply Teacher @ STEM Academy of Canada, Remote
          </div>
          Started working as a contracted part-time robotics and leadership
          coach where I've conducted sessions with students from different
          provinces across Canada and created a well-curated Arduino-based
          robotics curriculum spread across 8 weeks for students from grades 3-6
          and 7-11 focused on remote learning.
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div
          class="timeline-end mb-10 md:mr-10 md:hover:mr-4 md:hover:ml-6 md:hover:scale-105 md:transition-all md:duration-500"
        >
          <time class="font-mono italic">August, 2023</time>
          <div class="text-lg font-black">
            STEM Instructor @ Exceed Robotics, Thornhill, ON
          </div>
          Started working as a permanent part-time STEM instructor where I've
          assisted students with utilizing Google APIs for text-to-speech,
          speech-to-text, prompt engineering, object detection, image
          manipulation, etc.
        </div>
        <hr />
      </li>
    </ul>

    <footer class="bg-transparent">
      <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <hr class="my-6  sm:mx-auto border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm  sm:text-center text-gray-300">© 2024 Shrey Ajaykumar Bhatt. All Rights Reserved.
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a target="_blank" href="https://github.com/KaosElegent" class="text-gray-500 hover:text-white ms-5">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">GitHub account</span>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/shreybhatt13/" class="text-gray-500 hover:text-white ms-5">
                  <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M12.5 8.8v1.7a3.7 3.7 0 0 1 3.3-1.7c3.5 0 4.2 2.2 4.2 5v5.7h-3.2v-5c0-1.3-.2-2.8-2.1-2.8-1.9 0-2.2 1.3-2.2 2.6v5.2H9.3V8.8h3.2ZM7.2 6.1a1.6 1.6 0 0 1-2 1.6 1.6 1.6 0 0 1-1-2.2A1.6 1.6 0 0 1 6.6 5c.3.3.5.7.5 1.1Z" clip-rule="evenodd"/>
                    <path d="M7.2 8.8H4v10.7h3.2V8.8Z"/>
                  </svg>                    
                  <span class="sr-only">LinkedIn account</span>
              </a>
              
              <a target="_blank" href="/assets/Resume.pdf" class="text-gray-500 hover:text-white ms-5">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M8 7V2.2a2 2 0 0 0-.5.4l-4 3.9a2 2 0 0 0-.3.5H8Zm2 0V2h7a2 2 0 0 1 2 2v.1a5 5 0 0 0-4.7 1.4l-6.7 6.6a3 3 0 0 0-.8 1.6l-.7 3.7a3 3 0 0 0 3.5 3.5l3.7-.7a3 3 0 0 0 1.5-.9l4.2-4.2V20a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M17.4 8a1 1 0 0 1 1.2.3 1 1 0 0 1 0 1.6l-.3.3-1.6-1.5.4-.4.3-.2Zm-2.1 2.1-4.6 4.7-.4 1.9 1.9-.4 4.6-4.7-1.5-1.5ZM17.9 6a3 3 0 0 0-2.2 1L9 13.5a1 1 0 0 0-.2.5L8 17.8a1 1 0 0 0 1.2 1.1l3.7-.7c.2 0 .4-.1.5-.3l6.6-6.6A3 3 0 0 0 18 6Z" clip-rule="evenodd"/>
                </svg>                    
                <span class="sr-only">Resume / CV</span>
            </a>
              
            </div>
        </div>
      </div>
  </footer>

    <script src="/js/typewrite.js"></script>
    <script src="/js/navscroll.js"></script>
  </body>
</html>
