<!DOCTYPE html>
<html lang="en" class="bg-mask-polka">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <title>Shrey Bhatt - UwU</title>
    
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/saasmain.css" />
    
  </head>
  <body>

    <!-- Navbar -->
    <div class="navbar z-10 backdrop-blur-sm bg-opacity-80 shadow-lg fixed top-0 bg-mc-1 text-gray-300">
      
        <!-- Title Text-->
        <div class="flex-1">
          <a href="/" class="btn btn-ghost hover:bg-mc-2 text-2xl">Dashboard</a>
        </div>

        <!-- Regular Navbar-->
        <div class="navbar-center hidden sm:flex">
          <ul class="menu menu-horizontal text-xl">
            <li class="hover:bg-mc-2 rounded"><a href="/">Home</a></li>
            <li class="hover:bg-mc-2 rounded"><a href="/about">About</a></li>
            <li class="hover:bg-mc-2 rounded"><a href="/projects">Projects & Repos</a></li>
            <!--li class="hover:bg-mc-2 rounded">
              <details>
                <summary>
                  Projects
                </summary>
                <ul class="p-2 bg-mc-2 rounded-t-none">
                  <li class="hover:bg-mc-3 rounded"><a>Project 1</a></li>
                  <li class="hover:bg-mc-3 rounded"><a>Project 2</a></li>
                </ul>
              </details>
            </li-->
          </ul>
        </div>

        <!-- Dropdown Navbar-->
        <div class="dropdown pt-3">
            <label tabindex="0" class="btn btn-ghost sm:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" /></svg>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow dark-bg backdrop-blur-sm bg-opacity-80 rounded-box w-52">
              <li class = " rounded-box mb-2 mt-2 min-w-full"><a class="text-2xl flex justify-center p-2" href="/about">About</a></li>
              <li class=" rounded-box mb-2 min-w-full"><a class="text-2xl flex justify-center p-2" href="/projects">Projects</a></li>
              <!--li class="hover:bg-mc-2 rounded">
                <details>
                  <summary>
                    Projects
                  </summary>
                  <ul class="p-2 hover:bg-mc-2 rounded">
                    <li class="hover:bg-mc-3 rounded"><a>Project 1</a></li>
                    <li class="hover:bg-mc-3 rounded"><a>Project 2</a></li>
                  </ul>
                </details>
              </li-->
            </ul>
        </div>

        <div class="scroll-line"></div>

    </div>
    

    <!-- Hero -->
    <div class="hero" style="min-height: 72vh;">
      <div class="hero-content text-center">

        <div class="max-w-md lg:max-w-4xl">

          <!-- Hero for smaller devices -->
          <h1 class="block lg:hidden text-5xl font-bold">Hey There! \n</h1>
          <h1 class="block lg:hidden text-5xl font-bold">My Name is <u class="text-primary">Shrey Bhatt</u></h1>
          
          <!-- Hero for large devices -->
          <h1 class="hidden lg:block text-5xl font-bold">Hey There! \n My Name is <u class="text-primary">Shrey Bhatt</u></h1>
          

          <p class="text-3xl relative z-20 font-bold py-6">
            <a class="typewrite text-primary" 
                data-period="2000" 
                data-type='[ "A Software Developer", "An IBM Ambassador", 
                            "A STEM Instructor", "A Peer Mentor",
                            "A Cybersecurity Advocate", "A Volunteer" ]'>
              <span class="wrap"></span>
            </a>
          </p>
        </div>
      </div>
    </div>

    <!-- Skills -->
    <div class="lg:block hidden max-w-min mx-auto justify-center mb-36">
      <div class="mockup-code">
        <pre data-prefix="$"><code>npm i shrey/skills</code></pre> 
        <pre data-prefix=">" class="text-warning"><code>installing...</code></pre> 
        <pre data-prefix=">" class="text-success"><code>Done!</code></pre>
        <pre data-prefix=">" class="text-info"><code>-------------------</code></pre>
        <pre data-prefix=">" class="text-info"><code>Languages: C, C++, Python, MySQL, JavaScript, TypeScript, HTML, CSS, Bash, COBOL.</code></pre>
        <pre data-prefix=">" class="text-info"><code></code></pre>
        <pre data-prefix=">" class="text-info"><code>Frameworks / Libraries: Bootstrap, Node.js NumPy, Pandas, Matplotlib, Express, MongoDB, OpenCV.</code></pre>
        <pre data-prefix=">" class="text-info"><code></code></pre>
        <pre data-prefix=">" class="text-info"><code>Developer Tools: Git, Linux, Jira, Zowe Editor, Unity, Visual Paradigm, VMware, Fusion 360.</code></pre>
        <pre data-prefix=">" class="text-info"><code>-------------------</code></pre>
      </div>
    </div>
    <div class="hidden md:block lg:hidden max-w-min mx-auto justify-center mb-36">
      <div class="mockup-code">
        <pre data-prefix="$"><code>npm i shrey/skills</code></pre> 
        <pre data-prefix=">" class="text-warning"><code>installing...</code></pre> 
        <pre data-prefix=">" class="text-success"><code>Done!</code></pre>
        <pre data-prefix=">" class="text-info"><code>-------------------</code></pre>
        <pre data-prefix=">" class="text-info"><code>Languages: C, C++, Python, MySQL, JavaScript, TypeScript, HTML, CSS</code></pre>
        <pre data-prefix=">" class="text-info"><code>            Bash, COBOL.</code></pre>
        <pre data-prefix=">" class="text-info"><code></code></pre>
        <pre data-prefix=">" class="text-info"><code>Frameworks / Libraries: Bootstrap, Node.js NumPy, Pandas, Matplotlib</code></pre>
        <pre data-prefix=">" class="text-info"><code>                         Express, MongoDB, OpenCV.</code></pre>
        <pre data-prefix=">" class="text-info"><code></code></pre>
        <pre data-prefix=">" class="text-info"><code>Developer Tools: Git, Linux, Jira, Zowe Editor, Unity, Visual Paradigm</code></pre>
        <pre data-prefix=">" class="text-info"><code>                  VMware, Fusion 360.</code></pre>
        <pre data-prefix=">" class="text-info"><code>-------------------</code></pre>
      </div>
    </div>
    <div class="hidden sm:block md:hidden max-w-min mx-auto justify-center mb-36">
      <div class="mockup-code">
        <pre data-prefix="$"><code>npm i shrey/skills</code></pre> 
        <pre data-prefix=">" class="text-warning"><code>installing...</code></pre> 
        <pre data-prefix=">" class="text-success"><code>Done!</code></pre>
        <pre data-prefix=">" class="text-info"><code>-------------------</code></pre>
        <pre data-prefix=">" class="text-info"><code>Languages: C, C++, Python, MySQL, JavaScript, TypeScript, HTML</code></pre>
        <pre data-prefix=">" class="text-info"><code>            CSS, Bash, COBOL.</code></pre>
        <pre data-prefix=">" class="text-info"><code></code></pre>
        <pre data-prefix=">" class="text-info"><code>Frameworks / Libraries: Bootstrap, Node.js NumPy, Pandas</code></pre>
        <pre data-prefix=">" class="text-info"><code>                         Matplotlib, Express, MongoDB, OpenCV.</code></pre>
        <pre data-prefix=">" class="text-info"><code></code></pre>
        <pre data-prefix=">" class="text-info"><code>Developer Tools: Git, Linux, Jira, Zowe Editor, Unity</code></pre>
        <pre data-prefix=">" class="text-info"><code>                  Visual Paradigm, VMware, Fusion 360.</code></pre>
        <pre data-prefix=">" class="text-info"><code>-------------------</code></pre>
      </div>
    </div>
    <div class="block sm:hidden max-w-min mx-auto justify-center mb-36">
      <div class="mockup-code">
        <pre data-prefix="$"><code>npm i shrey/skills</code></pre> 
        <pre data-prefix=">" class="text-warning"><code>installing...</code></pre> 
        <pre data-prefix=">" class="text-success"><code>Done!</code></pre>
        <pre data-prefix=">" class="text-info"><code>-------------------</code></pre>
        <pre data-prefix=">" class="text-info"><code>Languages: C, C++, Python, MySQL</code></pre>
        <pre data-prefix=">" class="text-info"><code>          JavaScript, TypeScript</code></pre>
        <pre data-prefix=">" class="text-info"><code>          HTML, CSS, Bash, COBOL.</code></pre>
        <pre data-prefix=">" class="text-info"><code></code></pre>
        <pre data-prefix=">" class="text-info"><code>Frameworks / Libraries: Bootstrap</code></pre>
        <pre data-prefix=">" class="text-info"><code>          Node.js NumPy, Pandas</code></pre>
        <pre data-prefix=">" class="text-info"><code>          Matplotlib, Express</code></pre>
        <pre data-prefix=">" class="text-info"><code>          MongoDB, OpenCV.</code></pre>
        <pre data-prefix=">" class="text-info"><code></code></pre>
        <pre data-prefix=">" class="text-info"><code>Developer Tools: Git, Linux, Jira</code></pre>
        <pre data-prefix=">" class="text-info"><code>          Zowe Editor, Unity</code></pre>
        <pre data-prefix=">" class="text-info"><code>          Visual Paradigm</code></pre>
        <pre data-prefix=">" class="text-info"><code>          VMware, Fusion 360.</code></pre>
        <pre data-prefix=">" class="text-info"><code>-------------------</code></pre>
      </div>
    </div>

    <!-- Stats-->
    <div class="hidden hover:scale-105 transition-all duration-500 md:flex mx-auto mb-24 justify-center">
    <div class="stats shadow">

      <div class="stat">
        <div class="stat-figure text-primary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
        </div>
        <div class="stat-title">Events Attended (6 months)</div>
        <div class="stat-value text-primary">5</div>
        <div class="stat-desc">999 Remaining</div>
      </div>
      
      <div class="stat">
        <div class="stat-figure text-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg>
        </div>
        <div class="stat-title">CGPA @ Seneca</div>
        <div class="stat-value text-secondary">4.0</div>
        <div class="stat-desc">President&apos;s Honour List Recipient</div>
      </div>
      
      <div class="stat">
        <div class="stat-figure text-secondary">
          <div class="avatar online">
            <div class="w-16 rounded-full">
              <img src="/assets/pfp2.jpg" />
            </div>
          </div>
        </div>
        <div class="stat-title">Projects</div>
        <div class="stat-value">8</div>
        <div class="stat-desc text-secondary">1 Active</div>
      </div>
      
    </div>
  </div>

  <div class="hidden bigger-phone:flex md:hidden mx-auto mb-0.5 justify-center">
    <div class="stats shadow">

      <div class="stat">
        <div class="stat-figure text-secondary">
          <div class="avatar online">
            <div class="w-16 rounded-full">
              <img src="/assets/pfp2.jpg" />
            </div>
          </div>
        </div>
        <div class="stat-title">Projects</div>
        <div class="stat-value">8</div>
        <div class="stat-desc text-secondary">1 Active</div>
      </div>
      
    </div>
  </div>
  <div class="hidden bigger-phone:flex md:hidden mx-auto mb-24 justify-center">
    <div class="stats shadow">

      <div class="stat">
        <div class="stat-figure text-primary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
        </div>
        <div class="stat-title">Events Attended (6 months)</div>
        <div class="stat-value text-primary">5</div>
        <div class="stat-desc">999 Remaining</div>
      </div>
      
      <div class="stat">
        <div class="stat-figure text-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg>
        </div>
        <div class="stat-title">CGPA @ Seneca</div>
        <div class="stat-value text-secondary">4.0</div>
        <div class="stat-desc">President&apos;s Honour List Recipient</div>
      </div>
      
    </div>
  </div>
  
  <div class="flex bigger-phone:hidden mx-auto mb-0.5 justify-center">
    <div class="stats shadow">

      <div class="stat">
        <div class="stat-figure text-secondary">
          <div class="avatar online">
            <div class="w-16 rounded-full">
              <img src="/assets/pfp2.jpg" />
            </div>
          </div>
        </div>
        <div class="stat-title">Projects</div>
        <div class="stat-value">8</div>
        <div class="stat-desc text-secondary">1 Active</div>
      </div>
      
    </div>
  </div>
  <div class="flex bigger-phone:hidden mx-auto mb-0.5 justify-center">
    <div class="stats shadow">
      
      <div class="stat">
        <div class="stat-figure text-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg>
        </div>
        <div class="stat-title">CGPA @ Seneca</div>
        <div class="stat-value text-secondary">4.0</div>
        <div class="stat-desc">President&apos;s Honour List Recipient</div>
      </div>
      
    </div>
  </div>
  <div class="flex bigger-phone:hidden mx-auto mb-24 justify-center">
    <div class="stats shadow">

      <div class="stat">
        <div class="stat-figure text-primary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
        </div>
        <div class="stat-title">Events Attended (6 months)</div>
        <div class="stat-value text-primary">5</div>
        <div class="stat-desc">999 Remaining</div>
      </div>
    </div>
  </div>

    <!-- Timeline -->
    <ul class="max-w-5xl relative mx-auto timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
      <li>
        <div class="timeline-middle ">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
        </div>
        <div class="timeline-start md:text-end mb-10 md:ml-5 md:hover:ml-0 md:hover:mr-5 md:hover:scale-105 md:transition-all md:duration-500">
          <time class="font-mono italic">Feb 16-18, 2024</time>
          <div class="text-lg font-black"> Hacker @ DeerHacks, UTM</div>
          Our team created the project 'VoiceRE' leveraging next.js, flask, RESTful APIs, Cloudinary, MongoDB, Google API and OpenAI to reimagine learning:
        </div>
        <hr/>
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
        </div>
        <div class="timeline-end mb-10 md:mr-5 md:hover:ml-5 md:hover:mr-0 md:hover:scale-105 md:transition-all md:duration-500">
          <time class="font-mono italic">Jan 26-28, 2024</time>
          <div class="text-lg font-black">Volunteer @ UofTHacks, Myhal Hall</div>
          I got a first-hand look at Cohere and Auth0 APIs being utilized in dozens of different ways and was able to talk to a lot of the mentors and sponsors.
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
        </div>
        <div class="timeline-start md:text-end mb-10 md:ml-5 md:hover:ml-0 md:hover:mr-5 md:hover:scale-105 md:transition-all md:duration-500">
          <time class="font-mono italic">Jan 13-14, 2024</time>
          <div class="text-lg font-black">Participant @ UofTCTF, Bahen Center</div>
          My first in-person CTF and my team placed 200th out of the 1225 teams participating. 
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
        </div>
        <div class="timeline-end mb-10 md:mr-5 md:hover:mr-0 md:hover:ml-5 md:hover:scale-105 md:transition-all md:duration-500">
          <time class="font-mono italic">November, 2023</time>
          <div class="text-lg font-black">IBM Z Student Ambassador</div>
          I was interviewed and selected as an IBM Ambassador, which has since then given me access to several IBM events, exclusive content and their Interskill Learning Platform. I'm currently halfway though my training, to becoming a Certified IBM Mainframe Application Programmer Level I.
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
        </div>
        <div class="timeline-start md:text-end mb-10 md:ml-5 md:hover:ml-0 md:hover:mr-5 md:hover:scale-105 md:transition-all md:duration-500">
          <time class="font-mono italic">October 27th, 2023</time>
          <div class="text-lg font-black">Head of Operations @ Seneca Software Developer's Club</div>
          Reached out to the existing exec team at SSDC and asked to join/revive the club. Since then I've Led the operation of 8+ weekly study sessions, 3+ exam reviews, 2 major club projects (Discord bot, AWS DynamoDB), started multiple minor club projects and rebuilt the entire marketing and content teams.
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
        </div>
        <div class="timeline-end mb-10 md:mr-5 md:hover:mr-0 md:hover:ml-5 md:hover:scale-105 md:transition-all md:duration-500">
          <time class="font-mono italic">October 21st, 2023</time>
          <div class="text-lg font-black">Volunteer @ Google DevFest, UofT St. George</div>
          I had a great time working with GDG Cloud Toronto organizers, helping lead the volunteer team and registration at St. George.
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
        </div>
        <div class="timeline-start md:text-end mb-10 md:ml-5 md:hover:ml-0 md:hover:mr-5 md:hover:scale-105 md:transition-all md:duration-500">
          <time class="font-mono italic">September, 2023</time>
          <div class="text-lg font-black">Supply Teacher @ STEM Academy of Canada, Remote</div>
          Started working as a contracted part-time robotics and leadership coach where I've conducted sessions with students from different provinces across Canada and created a well-curated Arduino-based robotics curriculum spread across 8 weeks for students from grades 3-6 and 7-11 focused on remote learning.
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
        </div>
        <div class="timeline-end mb-10 md:mr-5 md:hover:mr-0 md:hover:ml-5 md:hover:scale-105 md:transition-all md:duration-500">
          <time class="font-mono italic">August, 2023</time>
          <div class="text-lg font-black">STEM Instructor @ Exceed Robotics, Thornhill, ON</div>
          Started working as a permanent part-time STEM instructor where I've assisted students with utilizing Google APIs for text-to-speech, speech-to-text, prompt engineering, object detection, image manipulation, etc. 
        </div>
        <hr />
      </li>
    </ul>

    <script src="/js/typewrite.js"></script>
    <script src="/js/navscroll.js"></script>

  </body>
  </html>
