<!DOCTYPE html>
<html lang="en" class="bg-mask-polka dark">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:type" content="article">
    <meta property="og:title" content="Shrey Bhatt - Portfolio">
    <meta property="og:url" content="https://shreybhatt.co">
    <meta property="og:image" content="/assets/thumbnail.jpeg">
    
    <title>Shrey Bhatt - Portfolio</title>
    
    <link rel="stylesheet" href="/css/main.css" />

  </head>
  <body>

    <!-- Navbar (https://stackoverflow.com/questions/60997948/backdrop-filter-not-working-for-nested-elements-in-chrome @ KawaLo) -->
    <div
      class="navbar z-10 bg-opacity-80 shadow-lg fixed top-0 bg-mc-1 text-gray-300"
    >
      <!-- Title Text-->
      <div class="flex-1">
        <a href="/" class="btn btn-ghost hover:bg-mc-2 text-2xl">Shrey Bhatt</a>
      </div>

      <!-- Regular Navbar-->
      <div class="navbar-center hidden md:flex">
        <ul class="menu menu-horizontal text-xl">
          <li class="hover:bg-mc-2 rounded"><a href="/">Home</a></li>
          <li class="hover:bg-mc-2 rounded"><a href="/about">About</a></li>
          <li class="hover:bg-mc-2 rounded">
            <a href="/projects">Projects & Repos</a>
          </li>
        </ul>
      </div>

      <!-- Dropdown Navbar-->
      <div class="dropdown pt-3 ">
        <label tabindex="0" class="btn btn-ghost md:hidden ">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            />
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content min-w-max right-0 mt-3 p-2 shadow rounded-box w-48 bg-mc-1 backdrop-blur-sm bg-opacity-80"
        >
          <li class="rounded-box mb-2 mt-2 min-w-full ">
            <a class="text-xl flex justify-center p-2" href="/">Home</a>
          </li>
          <li class="rounded-box mb-2 mt-2 min-w-full">
            <a class="text-xl flex justify-center p-2" href="/about">About</a>
          </li>
          <li class="rounded-box mb-2 min-w-full">
            <a class="text-xl flex justify-center p-2" href="/projects"
              >Projects & Repos</a
            >
          </li>
        </ul>
      </div>

      <div class="scroll-line"></div>
    </div>

    <!-- Projects -->
    <div class="text-mc-text mt-24 ml-8 mr-8 flex flex-wrap justify-evenly">
      <div
        class="card hover:scale-105 transition-all duration-500 m-6 w-96 bg-[hsla(0,0%,100%,0)] shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 backdrop-blur-[10px]"
      >
        <figure>
          <a
            target="_blank"
            href="https://github.com/KaosElegent/authentication-system"
            ><img src="/assets/proj1.png" alt="ProjectSS"
          /></a>
        </figure>
        <div class="card-body">
          <a
            target="_blank"
            href="https://github.com/KaosElegent/authentication-system"
          >
            <h2 class="card-title mb-2">
              Authentication / Credential Storage System
            </h2>
            <p>
              Generating cryptographically secure pseudorandom salts, hashing
              and storing credentials while preventing SQL injection attacks.
            </p>
          </a>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">Python</div>
            <div class="badge badge-outline">MySQL</div>
            <div class="badge badge-outline">Pandas</div>
            <div class="badge badge-outline">Cryptography</div>
          </div>
        </div>
      </div>
      <div
        class="card hover:scale-105 transition-all duration-500 m-6 w-96 bg-[hsla(0,0%,100%,0.55)] shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 backdrop-blur-[10px]"
      >
        <figure>
          <a
            target="_blank"
            href="https://github.com/KaosElegent/eyecare-assistant"
            ><img src="/assets/proj2.png" alt="ProjectSS"
          /></a>
        </figure>
        <div class="card-body">
          <a
            target="_blank"
            href="https://github.com/KaosElegent/eyecare-assistant"
          >
            <h2 class="card-title mb-2">Eyecare Assistant</h2>
            <p>
              An elementary assistant on Linux, which utilizes OpenCV and system
              alerts to notify the user that they have been at their computer
              for a long period of time.
            </p>
          </a>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">C++</div>
            <div class="badge badge-outline">OpenCV</div>
            <div class="badge badge-outline">Bash</div>
            <div class="badge badge-outline">Haar Cascades</div>
          </div>
        </div>
      </div>
      <div
        class="card hover:scale-105 transition-all duration-500 m-6 w-96 bg-[hsla(0,0%,100%,0.55)] shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 backdrop-blur-[10px]"
      >
        <figure>
          <a target="_blank" href="https://github.com/KaosElegent/VoiceRE"
            ><img src="/assets/proj3.png" alt="ProjectSS"
          /></a>
        </figure>
        <div class="card-body">
          <a target="_blank" href="https://github.com/KaosElegent/VoiceRE">
            <h2 class="card-title mb-2">VoiceRE (UI Incomplete)</h2>
            <p>
              The application stores user-recorded audio onto Cloudinary,
              records it via MongoDB, and utilizes Google API and OpenAI,
              converting it into prompt-engineered questions for reimagined
              learning
            </p>
          </a>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">Next.js</div>
            <div class="badge badge-outline">Flask</div>
            <div class="badge badge-outline">OpenAI</div>
            <div class="badge badge-outline">Cloudinary</div>
            <div class="badge badge-outline">MongoDB</div>
            <div class="badge badge-outline">Google API</div>
          </div>
        </div>
      </div>
      <div
        class="card hover:scale-105 transition-all duration-500 m-6 w-96 bg-[hsla(0,0%,100%,0.55)] shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 backdrop-blur-[10px]"
      >
        <figure>
          <a
            target="_blank"
            href="https://github.com/KaosElegent/tensorflow-fun"
            ><img src="/assets/proj4.png" alt="ProjectSS"
          /></a>
        </figure>
        <div class="card-body">
          <a
            target="_blank"
            href="https://github.com/KaosElegent/tensorflow-fun"
          >
            <h2 class="card-title mb-2">
              Neural Nets & Other Tensorflow Projects
            </h2>
            <p>
              The google collab files host a plethora of personal as well as
              guided projects for understanding ml and nural networks.
            </p>
          </a>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">Tensorflow</div>
            <div class="badge badge-outline">Keras</div>
            <div class="badge badge-outline">Numpy</div>
            <div class="badge badge-outline">Python</div>
            <div class="badge badge-outline">Matplotlib</div>
            <div class="badge badge-outline">Collab</div>
          </div>
        </div>
      </div>
      <div
        class="card hover:scale-105 transition-all duration-500 m-6 w-96 bg-[hsla(0,0%,100%,0.55)] shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 backdrop-blur-[10px]"
      >
        <figure>
          <a
            target="_blank"
            href="https://github.com/KaosElegent/Web-Adventures"
            ><img src="/assets/proj5.png" alt="ProjectSS"
          /></a>
        </figure>
        <div class="card-body">
          <a
            target="_blank"
            href="https://github.com/KaosElegent/Web-Adventures"
          >
            <h2 class="card-title mb-2">
              Personal Webpages (Passion Projects)
            </h2>
            <p>
              The repo contains my constantly growing collection of minimalist
              webpages in different styles. This includes articles, demo music
              apps, etc.
            </p>
          </a>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">HTML</div>
            <div class="badge badge-outline">CSS</div>
            <div class="badge badge-outline">Javascript</div>
            <div class="badge badge-outline">Classless CSS</div>
          </div>
        </div>
      </div>
      <div
        class="card hover:scale-105 transition-all duration-500 m-6 w-96 bg-[hsla(0,0%,100%,0.55)] shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 backdrop-blur-[10px]"
      >
        <figure>
          <a
            target="_blank"
            href="https://github.com/KaosElegent/COBOL-Showcase"
            ><img src="/assets/proj6.png" alt="ProjectSS"
          /></a>
        </figure>
        <div class="card-body">
          <a
            target="_blank"
            href="https://github.com/KaosElegent/COBOL-Showcase"
          >
            <h2 class="card-title mb-2">COBOL Data Querying</h2>
            <p>
              COBOL is still widely used in legacy systems for it's reliability
              when it comes to financial calculations. This is why I decided to
              learn COBOL and provide a small showcase of reading fixed-length
              data files and performing arithmetric operations
            </p>
          </a>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">COBOL</div>
            <div class="badge badge-outline">Fixed-Length Data</div>
          </div>
        </div>
      </div>
      <div
        class="card hover:scale-105 transition-all duration-500 m-6 w-96 bg-[hsla(0,0%,100%,0.55)] shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 backdrop-blur-[10px]"
      >
        <figure>
          <a target="_blank" href="https://github.com/KaosElegent/portfolio"
            ><img src="/assets/proj8.png" alt="ProjectSS"
          /></a>
        </figure>
        <div class="card-body">
          <a target="_blank" href="https://github.com/KaosElegent/portfolio">
            <h2 class="card-title mb-2">Portfolio Website</h2>
            <p>
              This website serves as my personal portfolio, showcasing my
              skills, work experience, leadership experience, projects, etc. It
              is always being imrpoved and reworked.
            </p>
          </a>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">HTML</div>
            <div class="badge badge-outline">CSS</div>
            <div class="badge badge-outline">JavaScript</div>
            <div class="badge badge-outline">Tailwind</div>
            <div class="badge badge-outline">DaisyUI</div>
            <div class="badge badge-outline">Responsive Design</div>
          </div>
        </div>
      </div>
      <div
        class="card hover:scale-105 transition-all duration-500 m-6 w-96 bg-[hsla(0,0%,100%,0.55)] shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 backdrop-blur-[10px]"
      >
        <figure>
          <a
            target="_blank"
            href="https://github.com/KaosElegent/Youtube-Downloader"
            ><img src="/assets/proj7.png" alt="ProjectSS"
          /></a>
        </figure>
        <div class="card-body">
          <a
            target="_blank"
            href="https://github.com/KaosElegent/Youtube-Downloader"
          >
            <h2 class="card-title mb-2">Youtube Downloader</h2>
            <p>
              Downloads audio-only mp4s of single URls or entire plalists. This
              project is meant for educational purposes only. It is not to be
              used to infringe on any copyright laws.
            </p>
          </a>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">Python</div>
            <div class="badge badge-outline">Pytube</div>
            <div class="badge badge-outline">Tkinter</div>
          </div>
        </div>
      </div>
    </div>

    <footer class="bg-transparent">
      <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <hr class="my-6  sm:mx-auto border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm  sm:text-center text-gray-300">© 2024 Shrey Ajaykumar Bhatt. All Rights Reserved.
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a target="_blank" href="https://github.com/KaosElegent" class="text-gray-500 hover:text-white ms-5">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">GitHub account</span>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/shreybhatt13/" class="text-gray-500 hover:text-white ms-5">
                  <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M12.5 8.8v1.7a3.7 3.7 0 0 1 3.3-1.7c3.5 0 4.2 2.2 4.2 5v5.7h-3.2v-5c0-1.3-.2-2.8-2.1-2.8-1.9 0-2.2 1.3-2.2 2.6v5.2H9.3V8.8h3.2ZM7.2 6.1a1.6 1.6 0 0 1-2 1.6 1.6 1.6 0 0 1-1-2.2A1.6 1.6 0 0 1 6.6 5c.3.3.5.7.5 1.1Z" clip-rule="evenodd"/>
                    <path d="M7.2 8.8H4v10.7h3.2V8.8Z"/>
                  </svg>                    
                  <span class="sr-only">LinkedIn account</span>
              </a>
              
              <a target="_blank" href="/assets/Resume.pdf" class="text-gray-500 hover:text-white ms-5">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M8 7V2.2a2 2 0 0 0-.5.4l-4 3.9a2 2 0 0 0-.3.5H8Zm2 0V2h7a2 2 0 0 1 2 2v.1a5 5 0 0 0-4.7 1.4l-6.7 6.6a3 3 0 0 0-.8 1.6l-.7 3.7a3 3 0 0 0 3.5 3.5l3.7-.7a3 3 0 0 0 1.5-.9l4.2-4.2V20a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9h5a2 2 0 0 0 2-2Z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M17.4 8a1 1 0 0 1 1.2.3 1 1 0 0 1 0 1.6l-.3.3-1.6-1.5.4-.4.3-.2Zm-2.1 2.1-4.6 4.7-.4 1.9 1.9-.4 4.6-4.7-1.5-1.5ZM17.9 6a3 3 0 0 0-2.2 1L9 13.5a1 1 0 0 0-.2.5L8 17.8a1 1 0 0 0 1.2 1.1l3.7-.7c.2 0 .4-.1.5-.3l6.6-6.6A3 3 0 0 0 18 6Z" clip-rule="evenodd"/>
                </svg>                    
                <span class="sr-only">Resume / CV</span>
            </a>
              
            </div>
        </div>
      </div>
  </footer>

    <script src="/js/typewrite.js"></script>
    <script src="/js/navscroll.js"></script>

  </body>
</html>
