@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-line {
    background: #4f4557;
    display: block;
    left: 0;
    height: 6px;
    margin-top: 4rem;
    position: fixed;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dark-bg {
    background-color: var(--fallback-n, oklch(var(--n) / var(--tw-bg-opacity)));
}

.bg-mask-polka {
    background-color: #282535;
    opacity: 1;
    background-image: radial-gradient(#4f4557 1.3px, transparent 1.3px),
        radial-gradient(#4f4557 1.3px, #282535 1.3px);
    background-size: 52px 52px;
    background-position: 0 0, 26px 26px;
}

.stat {
    background-color: #1F232D;
}

.stats{
    background-color: transparent;
    grid-gap: 2px;
}

.stat-title{
    color: #6B7080;
}

.mockup-code{
    background-color: #1F232D;
}

.text-primary{
    color: #4A00F0;
}

.text-secondary{
    color: #ff00d3;
}

.navbar::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    z-index: -1;
}

.text-primary{
    color: #6b00e0;
}