@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-bg{
    background-color: var(--fallback-n,oklch(var(--n)/var(--tw-bg-opacity)));
}

.bg-mask-polka{
    background-color: #282535;
    opacity: 0.8;
    background-image:  radial-gradient(#4F4557 1.3px, transparent 1.3px), radial-gradient(#4F4557 1.3px, #282535 1.3px);
    background-size: 52px 52px;
    background-position: 0 0,26px 26px;
}