:root {
    --main-bg-color: #FAEED1;
    --main-card-color: #DED0B6;
    --main-alt-color: #B2A59B;

    --main-text-color: #000000;
}

* {
    font-family: Arial, sans-serif;
}

body{
    margin: 2.5em 2em;
    background-color: #FAEED1;
}

h1{
    text-align: center;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav h2{
    font-weight: bold;
    margin: 19.92px 30px;
}

.nav-hr{
    margin: 0;
    opacity: 1;
    border-top: 5px double #B2A59B;
}

main h2{
    margin-top: 1rem;
    text-align: center;
}

#card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    font-size: 0.75rem;
    margin: 1rem;
    width: 15vh;
    height: 15rem;
    background-color: #DED0B6;
    box-shadow: 1px 3px 3px #000000;
}

.card-img-top{
    min-height: 6rem;
    max-height: 6rem;
}

.card-body{
    max-height: 9rem;
}

.card-title{
    font-size: 1rem;
}

/* Small devices such as large phones (768px and down) */
@media only screen and (max-width: 48em) {
    .show-mobile{
        display: none;
    }
}

/* Medium devices such as tablets (1024px and down) */
@media only screen and (min-width: 48em) and (max-width: 64em) {
    .show-mobile{
        display: block;
    }
}

/* Large devices such as laptops (1024px and up) */
/* @media only screen and (min-width: 64em) {...} */

/* Largest devices such as desktops (1280px and up) */
/* @media only screen and (min-width: 80em) {...} */

